#comment-form {
    display: flex;
    justify-content: space-between;
    /* justify-content: stretch; */
    /* align-items: stretch; */
    gap: 2px;
}

#add-comment {
    width: 20rem ;
    border: 1px solid #4F65F1;
    border-radius: 0.4rem;    
    font-family: 'Poppins', sans-serif;
    color: #4F65F1;
}

#post-comment-btn {
    border: 1px solid green;
    padding: 0.5rem 1.2rem;
    border-radius: 0.4rem;
    background-color: #4F65F1;
    color: #f6f6f6;
}

#post-comment-btn:hover {
    background: transparent;
    border-color: #4F65F1;
    color: #4F65F1;
}

/* Medium Screen */
@media screen and (min-width: 650px) {
    #add-comment {
        width: 700px;
    }

    #comment-form {
      width: 80%;
      margin: 0 auto;
    }
    /* .form__container {
      width: 85%;
    } */
  }
  
  /* Large Screen */
  @media screen and (min-width: 1024px) {
    #add-comment {
        width: 1000px;
        max-width: 100%;
    }

    #comment-form {
      width: 80%;
      margin: 0 auto;
    }
    /* .form__container {
      width: 80%;
      margin: 0 auto 0 10rem;
    } */
  }