.like-button {
    color: green;
    cursor: pointer;
    margin-left: 0;
}

.like-button:hover {
    color: green;
    cursor: pointer;
}


.dislike-button:hover {
    color: red;
    cursor: pointer;
}

.articles-votes {
    font-weight: 400;
    font-size: 1rem;
    color: #41446d;
}

#articlevote-container {
    display: flex;
    justify-content: center;
    align-items: center;
}